body {
	height: 1500px;
	background-color: #F5F5F5;
}

.contents-box {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.signup-box {
	background-color: rgba(63, 81, 181, 0.5); /* 인디고, 50% 투명 */
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	width: 300px;
	color: black;
}

.signup-box h2 {
	text-align: center;
	margin-bottom: 20px;
}

.signup-box input {
	background-color: white;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 6px;
	box-sizing: border-box;
}

.signup-box button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: white;
	color: #3f51b5;
	font-weight: bold;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.signup-box button:hover {
	background-color: #e0e0e0;
}

.signup-box input:focus {
	outline: none;
	box-shadow: 0 0 0 2px #483D8B;
}

/* 회원가입 폼
*/
/*   Q&A 게시글 판    */
.contain {
	width: 75%;
	height: 1300px;
	background-color: white;
}

.top-boundry-box {
	width: 100%;
	height: 200px;
	background-color: #708090;
}

/*  검색박스 */
.search-box {
	margin: auto;
	position: relative;
	display: flex;
	align-items: center;
	width: 50%;
	margin-top: 100px;
	display: flex;
	display: flex;
}

.search-box input {
	width: 100%;
	padding: 10px 16px;
	border: 1px solid #ccc;
	border-radius: 9999px; /* 둥글게 */
	font-size: 16px;
	transition: 0.3s;
	background-color: #F5F5F5;
}

.search-box button {
	position: absolute;
	right: 10px;
	color: black;
}

.search-box input:focus {
	outline: none;
	border-color: #007BFF; /* 포커스 시 파란색 */
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/*  큐앤에이박스 */
.qna-con {
	background-color: white;
	width: 73%;
	margin-top: 20px;
}

.qna-box {
	position: relative;
	height: 120px;
	margin-top: 50px;
	border-top: 2px solid black;
}

.qna-title {
	height: 35px;
	margin: 10px 0px 10px 15px;
	width: 95%;
	background-color: white;
}

.qna-body {
	border-radius: 8px; /* 둥글게 */
	padding: 10px;
	width: 90%;
	margin-left: 15px;
	background-color: #F5F5F5;
	height: 70%;
	white-space: normal;
	overflow: hidden;
}

.qna-open {
	position: absolute;
	right: 15px;
	top: 70%;
}